{% extends "skeleton/_root.html" %}
{% block all %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
{% include "skeleton/_gwt-verify.html" %}
  <title>{% block title %}{{site.name}}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{site.url}}/media/images/favicon.png">
{% block css %}
  <link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen">
{% block extra_css %}{% endblock %}
{% endblock %}
{% block js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
{% block extra_js %}{% endblock %}
{% endblock %}
{% include "skeleton/_ga.html" %}
</head>
<body>
<div id="pagewrap">

{% block content %}{% endblock %}

<div id="footer">{% include "skeleton/_footer.html" %}</div>
</div>
</body>
</html>
{% endblock %}